/* Base font size for the html element */
html {
  font-size: 16px;
}

body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  color: #333;
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  background: #fff;
  padding: 1% 0;
  border-bottom: 1px solid #ccc;
  position: relative;
  z-index: 10;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

header .logo {
  margin-right: 2%;
}

header .logo img {
  height: auto;
  width: 100%;
  max-width: 150px;
}

nav {
  position: relative;
  width: 100%;
}

nav ul.menu-items {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  transition: max-height 0.5s ease, opacity 0.5s ease;
}

nav ul.menu-items li {
  margin-right: 5%;
}

nav ul.menu-items li a {
  color: #000;
  text-decoration: none;
  font-size: 1.25em;
}

header nav .hamburger {
  display: none;
  background: none;
  border: none;
  font-size: 1.875em;
  cursor: pointer;
}

.hero {
  background: url("firstimage.png") no-repeat center center/cover;
  position: relative;
  text-align: center;
  color: #fff;
  padding: 10% 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.hero .container {
  position: relative;
  z-index: 3;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero h1 {
  margin: 0 0 2% 0;
  font-size: 2.25em;
}

.hero p {
  font-size: 1.5em;
}

.hero .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.about {
  padding: 5% 0;
}

.about .container {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  margin-bottom: 5%;
}

.about .header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.about h2 {
  font-size: 2.5em;
  margin-bottom: 2%;
  text-align: left;
  flex: 1;
}

.about .container .text {
  flex: 2;
  text-align: right;
  max-width: 50%;
}

.about .container h3 {
  font-size: 1.5em;
  margin-bottom: 1%;
  text-align: left;
}

.about .container p {
  font-size: 1.2em;
  margin-bottom: 1%;
  text-align: left;
}

.products,
.contact,
.achievements {
  padding: 5% 0;
  text-align: center;
}

.achievements {
  position: relative;
  text-align: center;
  padding: 10% 0;
  background: url("xprize.jpg") no-repeat center center/cover;
  background-size: cover;
  color: #fff;
  overflow: hidden;
}

.achievements .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.achievements .container {
  position: relative;
  z-index: 3;
  padding: 2%;
  padding-bottom: 16%;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

.achievements h2 {
  font-size: 2.5em;
  margin-bottom: 2%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.achievements p {
  font-size: 1.2em;
  margin-bottom: 2%;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.achievements .highlight-text {
  font-size: 1.3em;
  color: #fff;
}

.awards {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 5%;
  flex-wrap: wrap;
  padding: 0;
  background: #39393982;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  z-index: 4;
  backdrop-filter: blur(15px);
}

.award {
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

.award img {
  width: 80%;
  max-width: 80px;
  height: auto;
  display: block;
  margin: 0 auto 5%;
}

.award .content {
  font-size: 1.1em;
  color: #fff;
  margin: 0;
  max-width: 160px;
}

.award .title {
  font-size: 0.9em;
  color: #888;
  margin: 0;
  max-width: 160px;
}

.products {
  padding: 5% 0;
  text-align: left;
  margin-top: 10%;
}

.products .subtitle {
  font-size: 1.8em;
  margin-bottom: 1%;
  font-weight: bold;
  text-align: left;
}

.products .description {
  font-size: 1.5em;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.history {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 3%;
}

.history-text {
  flex: 1;
  padding-right: 2%;
}

.history-text p {
  font-size: 1.2em;
  margin-bottom: 1%;
  text-align: left;
}

.history-image {
  flex: 1;
  text-align: right;
}

.history-image img {
  max-width: 75%;
  height: auto;
  border-radius: 5px;
}

.products h2 {
  font-size: 2.5em;
}

.products .product-list {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
  gap: 0;
  overflow-x: auto;
  text-align: center;
}

.product-item {
  flex: 0 0 23%;
  text-align: center;
  padding: 1%;
  border-radius: 5px;
}

.product-item img {
  width: 100%;
  height: auto;
}

.product-item h3 {
  font-size: 1.5em;
  margin-bottom: 2%;
  margin-top: 0;
}

.product-item p {
  font-size: 1em;
}

.product-button {
  margin-top: 2%;
  padding: 1% 2%;
  background: #fff;
  color: #333;
  border: 2px solid #333;
  cursor: pointer;
  border-radius: 25px;
  font-size: 1em;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
  margin-top: 10%;
}

.todo-classroom {
  padding: 5% 0;
  background-color: hsl(46, 89%, 96%);
}

.todo-classroom .container {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
}

.todo-classroom .todo-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.todo-classroom h2 {
  font-size: 2.5em;
  margin-bottom: 2%;
  text-align: left;
  flex: 1;
}

.todo-classroom .todo-text {
  flex: 2;
  text-align: right;
  max-width: 50%;
}

.todo-classroom .todo-text h3 {
  font-size: 2em;
  margin-bottom: 1%;
  text-align: left;
}

.todo-classroom .todo-text p {
  font-size: 1.2em;
  margin-bottom: 1%;
  text-align: left;
}

.todo-classroom .todo-features {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2%;
  margin-top: 2%;
}

.todo-classroom .feature-item {
  flex: 1;
  max-width: 28%;
  text-align: center;
  background: white;
  padding: 2%;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(255, 239, 146, 0.1);
}

.todo-classroom .feature-item img {
  max-width: 40%;
  height: auto;
  margin-bottom: 5%;
}

.todo-classroom .feature-item h3 {
  font-size: 1.5em;
  margin-bottom: 2%;
}

.todo-classroom .feature-item p {
  font-size: 1em;
}

.todo-classroom .learn-more-button {
  margin-top: 2%;
  padding: 1% 2%;
  background: #fff;
  color: #333;
  border: 2px solid #333;
  cursor: pointer;
  border-radius: 25px;
  font-size: 1em;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 10%;
}

.enumaschool {
  position: relative;
  text-align: center;
  padding: 0 0;
  background: url(“es.jpg”) no-repeat center center/cover;
  background-size: cover;
  color: #fff;
  overflow: hidden;
}

.enumaschool .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.enumaschool .container {
  position: relative;
  z-index: 3;
  padding: 2%;
  padding-bottom: 16%;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

.enumaschool h2 {
  font-size: 2.5em;
  margin-bottom: 2%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.enumaschool p {
  font-size: 1.2em;
  margin-bottom: 2%;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
}

.contact .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.contact h2 {
  text-align: left;
  align-self: flex-start;
  margin-left: 5%;
}

.contact .form-and-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.contact form {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 2%;
}

.contact .contact-image {
  display: flex;
  align-items: center;
}

.contact .contact-image img {
  max-height: 190px;
  width: auto;
  border-radius: 10px;
  box-sizing: border-box;
}

.contact form .form-group {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 2%;
}

.contact form .form-group input {
  width: 49%;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 2%;
  border: 1px solid #ccc;
  font-weight: bold;
}

.contact form textarea {
  width: 100%;
  height: 150px;
  padding: 2%;
  margin-top: 2%;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  font-weight: bold;
}

.contact form button {
  margin-top: 2%;
  padding: 2% 4%;
  background: #fff;
  color: #333;
  border: 2px solid #333;
  cursor: pointer;
  border-radius: 25px;
  font-size: 1em;
  font-weight: bold;
  display: flex;
  align-items: left;
  margin-left: 0;
  justify-content: center;
  gap: 5px;
}

.contact form input::placeholder,
.contact form textarea::placeholder {
  color: #888;
  font-weight: bold;
}

footer {
  background: #f4f4f4;
  color: #333;
  text-align: center;
  padding: 1% 0;
  border-top: 1px solid #ccc;
}

.contact-us-btn {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 8%;
  background-color: orange;
  color: white;
  border: none;
  font-size: 1.25em;
  cursor: pointer;
  display: none; /* Hidden by default */
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Styles for screens wider than 60rem */
@media (min-width: 60rem) {
  nav ul.menu-items {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    opacity: 1;
    max-height: none;
  }

  header nav .hamburger {
    display: none;
  }
}

/* Styles for screens 60rem and narrower */
@media (max-width: 60rem) {
  header .container {
    flex-wrap: wrap;
  }

  header nav {
    order: 3;
    width: 100%;
  }

  header nav .hamburger {
    display: block;
    position: absolute;
    top: -3.5rem;
    right: 1rem;
  }

  nav ul.menu-items {
    flex-direction: column;
    background-color: white;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
  }

  nav ul.menu-items.show {
    max-height: 100vh;
    opacity: 1;
  }

  nav ul.menu-items li {
    margin: 0;
    text-align: center;
  }

  nav ul.menu-items li a {
    display: block;
    padding: 1rem;
  }

  .contact-us-btn {
    display: flex;
  }

  .about .container {
    flex-direction: column;
  }

  .about .container .text {
    max-width: 100%;
    text-align: left;
  }

  .history {
    flex-direction: column;
  }

  .history-image {
    text-align: center;
    margin-top: 5%;
  }

  .history-image img {
    max-width: 100%;
  }

  .products .product-list {
    flex-wrap: wrap;
  }

  .product-item {
    flex: 0 0 48%;
    margin-bottom: 4%;
  }

  .todo-classroom .todo-header {
    flex-direction: column;
  }

  .todo-classroom .todo-text {
    max-width: 100%;
    text-align: left;
  }

  .todo-classroom .feature-item {
    max-width: 100%;
    margin-bottom: 4%;
  }

  .contact .form-and-image {
    flex-direction: column;
  }

  .contact form {
    width: 100%;
    margin-right: 4%;
    margin-bottom: 4%;
  }

  .contact .contact-image {
    width: 100%;
    justify-content: center;
  }
}

@media (max-width: 30rem) {
  /* 480px / 16px = 30rem */
  .product-item {
    flex: 0 0 100%;
  }

  .contact form .form-group {
    flex-direction: column;
  }

  .contact form .form-group input {
    width: 100%;
    margin-bottom: 2%;
  }

  .hero h1 {
    font-size: 2em;
  }

  .hero p {
    font-size: 1.2em;
  }

  .about h2,
  .products h2,
  .achievements h2,
  .todo-classroom h2,
  .enumaschool h2 {
    font-size: 2em;
  }

  .about .container h3,
  .product-item h3,
  .todo-classroom .todo-text h3 {
    font-size: 1.3em;
  }

  .about .container p,
  .achievements p,
  .history-text p,
  .todo-classroom .todo-text p {
    font-size: 1em;
  }

  .enumaschool .highlight-text {
    font-size: 1.3em;
    color: #fff;
  }

  .product-button,
  .contact form button {
    font-size: 0.9em;
    padding: 3% 6%;
  }
}
